body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: cadetblue;
}

main {
    width: 100%;
    min-width: 400px;
    max-width: 600px;
    margin: 0 auto;
    background-color: cadetblue;
}


header {
    background-color: cadetblue;
    padding: 1em;
    display: flex;

    > * {
        flex: 1 1 0;
        color: #FFFFFF
    }

    &:first-child {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2em;
    }

    &:last-child {
        display: flex;
        justify-content: flex-end;
        
        button {
           border: 0 none;
           border-radius: 10px;
           background-color: lightcoral;
        } 
    }
}