header {
    border: 1px solid white;
}
    main{
        border: 1px  white ;
        align-items: center;
        justify-content: space-around;
        top:10%;

    .button-bar {
        display: flex;
        justify-content: flex-end;
        background-color: cadetblue;
        button {
            justify-content: center;
            $color: #3FAF4B;
            background: $color;
            border: 2px solid darken($color: $color, $amount: 4);
            border-radius: 4px;
            color: white;
            cursor: grab;
            margin: 1em 0;
            padding: .25em 1em;

            &.delete {
                $color: #EB1A30;
                background: $color;
                border: 2px solid darken($color: $color, $amount: 4);
            }

            &:disabled {
                $color: #dddddd;
                background: $color;
                border: 2px solid darken($color: $color, $amount: 4);
                cursor: not-allowed;
            }
        }
    }
}